* {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: blue;
  font-size: 1.6rem;
  @media screen and (min-width: 800px) {
    font-size: 3rem;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  // margin: auto;
}

.feature {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  @media screen and (min-width: 800px) {
    max-width: 30%;
  }

  & p {
    font-size: 0.9rem;
    max-width: 500px;
    @media screen and (min-width: 800px) {
      font-size: 1.3rem;
    }

    & a {
      text-decoration: none;
      color: blue;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }
    }
  }
}

.icons {
  height: 50px;
}

.myClass {
  font-size: 1rem;
  color: green;
}
footer {
  a {
    font-size: 0.5rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.boiler {
  font-size: 5rem;
  color: blue;
}

.waving {
  font-size: 3rem;
  color: green;
}

.fork {
  font-size: 3rem;
  color: blue;
}

.typescript-output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 15px;
  padding: 0.5rem;
}
