$s1: min(1vh, 1vw);
$s2: min(2vh, 2vw);
$s8: min(8vh, 8vw);
$s15: min(15vh, 15vw);
$s20: min(20vh, 20vw);
$foreground1: black;
$foreground2: blue;
$background: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $s2;

  & .home {
    cursor: pointer;
    padding: $s2;
    display: flex;
    text-decoration: none;

    & img {
      height: $s15;
      padding: $s1;
    }

    & h1 {
      color: $foreground2;
      font-size: $s8;
      @media screen and (min-width: 800px) {
        //font-size: 3rem;
      }
    }
  }

  & .temp-notice {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: $s2;

    & img {
      height: $s15;
      padding: $s1;
    }

    & p {
      text-align: center;

      & a {
        cursor: pointer;
        text-decoration: none;
        color: $foreground2;
      }
    }
  }
}

.container {
  width: clamp(200px, 90%, 500px);
  // width: 90%;
  margin: auto;
  .primary-school {
    background-image: url('https://filedn.com/l8l3tmJlFBQbibudQ3R2XYu/fresh-food/primary-school-smaller.png');
    font-size: clamp(10px, 5vw, 25px);
    padding: min(5vh, 5vw);
    padding-left: 21%;
    padding-right: 2%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    color: white;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;

  .feature {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: min(2vh, 2vw);
    @media screen and (min-width: 800px) {
      max-width: 30%;
    }

    & p {
      font-size: 0.9rem;
      max-width: 500px;
      @media screen and (min-width: 800px) {
        font-size: 1.3rem;
      }

      & a {
        text-decoration: none;
        color: blue;

        &:hover {
          background: lightgray;
          border-radius: 5px;
        }
      }
    }
  }
}

.icons {
  height: 50px;
  padding: min(2vh, 2vw);
}

footer {
  a {
    font-size: 0.5rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.boiler {
  font-size: 5rem;
  color: blue;
}

.waving {
  font-size: 3rem;
  color: green;
}

.fork {
  font-size: 3rem;
  color: blue;
}

.typescript-output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 15px;
  padding: 0.5rem;
}
