$s1: min(1vh, 1vw);
$s2: min(2vh, 2vw);
$s8: min(8vh, 8vw);
$s15: min(15vh, 15vw);
$s20: min(20vh, 20vw);
$foreground1: black;
$foreground2: blue;
$background: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $s2;

  & .home {
    cursor: pointer;
    padding: $s2;
    display: flex;
    text-decoration: none;

    & img {
      height: $s15;
      padding: $s1;
    }

    & h1 {
      color: $foreground2;
      font-size: $s8;
      @media screen and (min-width: 800px) {
        //font-size: 3rem;
      }
    }
  }

  & .temp-notice {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: $s2;

    & img {
      height: $s15;
      padding: $s1;
    }

    & p {
      text-align: center;

      & a {
        cursor: pointer;
        text-decoration: none;
        color: $foreground2;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & img {
    border-radius: 5px;
    width: clamp(200px, 90%, 500px);
  }

  & article {
    width: clamp(200px, 90%, 500px);
    font-size: clamp(12px, 6vw, 30px);
    text-align: center;
    margin: $s2;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;

  .feature {
    display: flex;
    width: clamp(200px, 90%, 500px);
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: min(2vh, 2vw);
    // @media screen and (min-width: 800px) {
    //   max-width: 30%;
    // }

    & p {
      font-size: clamp(12px, 4vw, 25px);
      // max-width: 500px;
      // @media screen and (min-width: 800px) {
      //   font-size: 1.3rem;
      // }

      & a {
        text-decoration: none;
        color: blue;

        &:hover {
          background: lightgray;
          border-radius: 5px;
        }
      }
    }

    & img {
      border-radius: clamp(2px, 8vw, 30px );
      height: clamp(50px, 30vw, 200px);
      padding: min(2vh, 2vw);
    }
  }
}

.icons {
  height: 50px;
  padding: min(2vh, 2vw);
}

footer {
  a {
    font-size: 0.5rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.boiler {
  font-size: 5rem;
  color: blue;
}

.waving {
  font-size: 3rem;
  color: green;
}

.fork {
  font-size: 3rem;
  color: blue;
}

.typescript-output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 15px;
  padding: 0.5rem;
}
